/* global selector select all element  */
body {
  font-family: sans-serif;
}

#product-overview {
  background-color: #ff168f;
  padding: 20px;
  border: 5px solid black;
  margin: 20px;
}

.section-title {
  color: green;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
}
