* {
  box-sizing: border-box;
}

/* global selector select all element  */
body {
  font-family: sans-serif;
  margin: 0px;
}

main {
  height: 200px;
}
/* element like div , seection are block level element which take full width
  inline element do not take full width
*/
#product-overview {
  background-color: #ff168f;
  width: 100%;
  /* height is relative to parent element if parent height(main) is 200 px then it will take 100% of parent */
  height: 500px;
  padding: 5px;
}

.section-title {
  color: green;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
}

.main-header {
  width: 100%;
  padding: 5px 16px;
  background: #2ddf5c;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}


.main-nav {
  display: inline-block;
  width: calc(100% - 74px);
  text-align: right;
  vertical-align: middle;
}

.main-nav__items {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.main-nav__item {
  /* in inline we cannot set margin top  right */
  display: inline-block;
  padding: 20px;
}
